<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AP-MESSAGE⁉</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
</head>
<body>
    <div class="container">
        <h1>AP-MESSAGE⁉</h1>
        <p>Are you fake??</p>
        <button onclick="location.href='{{ url_for('yes')}}'">Yes</button>

        <button onclick="location.href='{{ url_for('no')}}'">No</button>
    </div>

    <script>
        function moveNoButton() {
            const button = document.getElementById('no-btn');

            button.style.postion = 'absolute';
            
            button.style.top = Math.random() * window.innerHeight + 'px';

            button.style.left = Math.random() * window.innerWidth + 'px';
        }
    </script>
       
</body>
</html>